/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}


body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 0px;
    box-sizing: border-box;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-booki {
    width: 61.09px;
    height: 19px;
    padding: 30px;
    display: flex;
}

/* Menu */
nav ul {
    display: flex;
    flex-direction: row;
}

nav li {
    list-style-type: none;
    font-size: 16px;
    margin: 30px;
}

nav a {
    text-decoration: none;
    color: black;
    border-top: white 1px solid;
    padding-top: 20px;
    transition: border-top 0.5s, color 0.5s;
}

nav a:hover {
    text-decoration: none;
    color: #0065FC;
    border-top: #0065FC 1px solid;
    padding-top: 20px;
}
/* Header */

main {
    margin-bottom: 35px;
}

/* Information groupe, search bar, filters and footer */
/* Information title */
.info-group {
    margin: 30px 50px;
}

.info-headline {
    font-weight: 700;
    font-size: 22px;
}

.info-headline h1 {
    line-height: 25px;
}

.info-headline span {
    font-weight: 400;
    font-size: 16px;
}

/* Search bar */
.search-bar {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

.search-bar i {
    width: 14px;
    height: 18px;
    color: black;
    background-color: #F2F2F2;
    padding: 15px 18px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.search-bar input {
    width: 195px;
    height: 46px;
    border: 1px solid #F2F2F2;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.search-bar input:focus {
    outline: #0065FC solid;
}

.search-button {
    background-color: #0065FC;
    color: white;
    border: none;
    width: 132px;
    border-radius: 0px 15px 15px 0px;
    font-size: 18px;
    font-weight: 700;
}

.search-button:hover {
    cursor: pointer;
    background-color: #3184ff;
}

/* Filter bar */
.filter-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 35px;
}

.filter-bar p {
    font-weight: 700;
    font-size: 18px;
}

.filter-buttons {
    display: flex;
    flex-direction: row;
}

.filter-buttons button {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 19px;
    align-items: center;
    margin: 0px 10px;
    transition: border-color 0.5s, background-color 0.5s;
}

.filter-buttons button:hover {
    background-color: #DEEBFF;
    border-color: #0065FC;
}

.filter-buttons i {
    display: flex;
    width: 40px;
    height: 40px;
    font-size: 20px;
    align-items: center;
}

.info-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 35px;
}

.info-footer i {
    display: flex;
    width: 24px;
    height: 24px;
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
/* Information groupe, search bar and filters */

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergements-cards a {
    text-decoration: none;
    color: black;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    width: 250.33px;
    height: 210px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}

.hebergements-cards .card-content {
    padding-top: 7px;
    padding-left: 15px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.hebergements-cards .card-rating {
    padding-top: 5px;
    padding-left: 15px;
}

.hebergements-filter {
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}